:root {
  --purple500: #430063;
  --purple400: #640075;
  --purple300: #a700b3;
  --orange: #de7200;
  --orange600: #dd630a;
  --orange500: #ed800d;
  --orange400: #dd630a;
  --orange300: #ed800d;
  --orange200: #efb325;
  --orange100: #f7cd34;
  --orange50: #fbe699;
  --wine600: #170019;
  --wine500: #2b0030;
  --wine200: #5c3560;
  --wine100: #a591a7;
  --red400: #932020;
  --red300: #b73939;
  --red100: #ec4e4e;
  --red20: #f4e9e9;
  --green300: #4da23f;
  --green100: #4fbf67;
  --blue100: #3862ce;
  --gray500: #808191;
  --gray300: #b8b9c1;
  --gray200: #e4e4e4;
  --gray150: #cbd4dd;
  --gray100: #f1f1f1;
  --gray50: #f5f5f5;
  --gray30: #f8f8f8;
  --white: #fff;
  --dark500: #11142d;
  --dark400: #414357;
  --dark300: #5e5f70;
}

body[theme=dark] {
  --backgroundFrame: #1f2128;
  --backgroundModal: #242731;
  --backgroundActionMenu: #3a3d47;
  --backgroundMute: rgba(15,15,16,0.7);
  --ui500: #9596a7;
  --ui300: #6b6c79;
  --ui200: #3a3d47;
  --ui100: #3a3d47;
  --ui50: #3a3f53;
  --ui30: #292c35;
  --ui25: #25272f;
  --ui500-opacity: rgba(149,150,167,0.1);
  --card1Back: #2a2d39;
  --card1Border: #3a3d47;
  --card2Back: #2a2d39;
  --card2Border: #3a3d47;
  --buttonMainDef1: #803588;
  --buttonMainDef2: #ed800d;
  --buttonMainHover1: #5e1976;
  --buttonMainHover2: #dd630a;
  --buttonMainDisabled: #a591a7;
  --buttonSecondaryDef: #e4e4e4;
  --buttonSecondaryHover: #fff;
  --buttonSecondaryDisabled: #9596a7;
  --buttonSecondaryBack: #3a3f53;
  --buttonSecondaryBackHover: #3a3f53;
  --switcherOnDef: #ed800d;
  --switcherOnHover: #dd630a;
  --switcherOnDisabled: #a591a7;
  --switcherOffDef: #cbd4dd;
  --switcherOffHover: #e4e4e4;
  --switcherOffDisabled: #828998;
  --switcherBorder: #5b5e69;
  --switcherBorderHover: #9596a7;
  --switcherBack: #3a3f53;
  --inputBack: #292c35;
  --inputBorderHover: #3a3d47;
  --inputBorderFocus: #efb325;
  --text100: #fff;
  --text90: #9596a7;
  --text80: #9b9cad;
  --text60: #9d9eaf;
  --text60transparent: rgba(157,158,175,0.5);
  --text30: #6b6c79;
  --textAccent: #fff;
  --textAccent2: #9596a7;
  --textAlgorithm: #212121;
  --mainTabsDef: #9596a7;
  --mainTabsHover: #b4b5c0;
  --mainTabsFocus: #fff;
  --mainTabsDef2: #9d9eaf;
  --mainTabsDef3: #b4b5c0;
  --sidebarBack: #2a2d39;
  --sidebarRow: #23262f;
  --sidebarBar: #3f424d;
  --sidebarHelp: #3f424d;
  --sidebarHelpHover: hsla(0,0%,100%,0.3);
  --botlistHover: #fff;
  --dealsRed: #ec4e4e;
  --dealsGreen: #4fbf67;
  --wikiButton: #3a3d47;
  --wikiButtonBorder: rgba(58,61,71,0);
  --wikiDescription: #c0c0ca;
  --balanceRed: #ec4e4e;
}